@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #2c3e3a;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif), serif;
  color: inherit;
  /* Allow utility classes to override */
}

/* Custom Utilities */
.container-fluid {
  max-width: 100%;
  padding-left: 5vw;
  padding-right: 5vw;
  margin-left: auto;
  margin-right: auto;
}